{% extends 'base.html' %}
{% load static %}

{% block content %}
<br><br>
<div class="container">
  <div class="card mb-2" >

          
       
    <div class="card-body">
    
    <div class="media">
    <img src="{% static 'img/avatar-dhg.png' %}" alt="img" width="55px" height="55px" class="rounded-circle mr-3">
    
    <div class="media-body">
    <h2>{{ post.user.username }}</h2>
    <p class="card-text text-justify">
    {{ post.body }}
    </p>
    
    </div>
    <small>{{ post.created }}</small>
    
    
    
    </div>
    
    </div>
    <div class="card-footer">
      <a href="{% url 'post:delete' post.id %}" class="btn btn-outline-danger card-link btn-sm">Delete</a>
      <a href="{% url 'post:update' post.id %}" class="btn btn-outline-info card-link btn-sm">Edit</a>
    </div>
      
    </div>

    {% for comment in comments %}
    <div class="card mb-3">
      <div class="card-header">{{ comment.user }}</div>
      <div class="media-body p-4">
        
          {{ comment.body }}
        
      </div>
      <div class="card-footer">{{ comment.created }}</div>
    </div>
    {% endfor %}

</div>
{% endblock %}
