{% extends 'base.html' %}
{% load static %}

{% block content %}
<br>
<div class="container">
  <div class="card mb-2" >

    <div class="card-header">
      <a href="{% url 'post:post_like' post.id %}" class="{% if is_liked %}disabled{% endif %} btn btn-success btn-sm">لایک {{ post.like_count }}</a>
    </div>       
       
    <div class="card-body">
    
    <div class="media">
    <img src="{{post.user.profile.avatar.url}}" alt="img" width="55px" height="55px" class="rounded-circle ml-3">
    
    <div class="media-body">
    <h2>{{ post.user.username }}</h2>
    <p class="card-text text-justify">
    {{ post.body }}
    </p>
    
    </div>
    <small>{{ post.jpublish }}</small>
    
    
    
    </div>
    
    </div>
    <div class="card-footer">
      <a href="{% url 'post:delete' post.id %}" class="btn btn-outline-danger card-link btn-sm">حذف</a>
      <a href="{% url 'post:update' post.id %}" class="btn btn-outline-info card-link btn-sm">ویرایش</a>
    </div>
      
    </div>

    <div class="card mb-4">
      <div class="card-header">{{ comments.count }} دیدگاه</div>
      <div class="media-body p-4">
        <form method="POST">
          {% csrf_token %}
          {{ form }}
          <input class="btn btn-info btn-sm mt-2" type="submit" value="ارسال" >
        </form>
      </div>
      
    </div>

    {% for comment in comments %}
    <div class="card mb-3">
      <div class="card-header">{{ comment.user }}</div>
      <div class="card-body ">
        
          <div class="pb-3">{{ comment.body }}</div>
          
          <div class="">
            <form action="{% url 'post:add_reply' post.id comment.id %}" method="POST">
              {% csrf_token %}
              {{ reply }}
              <input class="btn btn-info btn-sm my-2" type="submit" value="پاسخ" >
            </form>
          </div>

          {% for reply in comment.rcomments.all %}
            <div class="card">
              <div class="card-header">{{ reply.user }}</div>
              <div class="card-body">{{ reply.body }}</div>
              <div class="card-footer">{{ reply.created|timesince }}</div>
              
            </div>
            
          {% endfor %}
        
      </div>
      <div class="card-footer">{{ comment.created|timesince }}</div>
    </div>
  
    {% empty %}
      <div class="alert alert-warning">دیدگاهی ارسال نشده است</div>

  {% endfor %}
  
</div>

{% endblock %}
