{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-----------------------------------Banner/img Starts-------------------->


<div class="container my-4">
    <a href="{% url 'post:create' %}" class="btn btn-outline-success card-link btn-sm mb-2">افزودن مقاله</a>
    {% for post in posts %}
<div class="card mb-2" >

          
       
    <div class="card-body">
    
    <div class="media">
      <img src="{{post.user.profile.avatar.url}}" alt="img" width="55px" height="55px" class="rounded-circle ml-3">
    
    <div class="media-body">
    <h2>{{ post.title }}</h2>
    <p class="card-text text-justify">
    {{ post.body }}
    </p>
    
    </div>
    <small>{{ post.jpublish }}</small>
    
    
    
    </div>
    
    </div>
    <div class="card-footer">
      <a href="{{ post.get_absolute_url }}" class="btn btn-outline-info card-link float-left btn-sm">بیشتر</a>
    </div>
                  
    
    
    
    
    </div>
    {% endfor %}

</div>
{% endblock %}
