{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-----------------------------------Banner/img Starts-------------------->


<div class="banner">
    <div class="banner-title d-flex flex-column justify-content-center align-items-center">
        
        <img src="{{user.profile.avatar.url}}" alt="img" class="rounded-circle mb-2" width="80px" height="80px">
        <h3 class="text-light">{{ user.username }}</h3>
        <p class="text-light">{{ user.profile.bio }}</p>
        <ul class="nav text-light p-0">
            <div class="btn-group" dir="ltr" role="group" aria-label="First group"> 
                <a class="btn btn-info card-link" href="{% url 'account:reset_password' %}">بازیابی رمز عبور</a></li>
            {% if request.user.id != user.id and not is_following %}
                <a class="btn btn-success card-link" href="{% url 'account:user_follow' user.id %}">فالو</a></li>
            {% elif request.user.id != user.id and is_following %}
                <a class="btn btn-success card-link" href="{% url 'account:user_unfollow' user.id %}">آنفالو</a></li>
            {% endif %}
        </div>

              
        </ul>
    </div>




    

</div>



<div class="container my-4">
    <div class="btn-group" dir="ltr" role="group" aria-label="First group"> 
        <a href="{% url 'post:create' %}" class="btn btn-outline-success card-link btn-sm mb-2">افزودن</a>
        <a href="{% url 'account:edit_user' %}" class="btn btn-outline-info card-link btn-sm mb-2">ویرایش پروفایل</a>
    </div>
    {% for post in posts %}
     
<div class="card mb-2" >

  
       
    <div class="card-body">
    
    <div class="media">
    <img src="{{ user.profile.avatar.url }}" alt="img" width="55px" height="55px" class="rounded-circle ml-3">
    
    <div class="media-body">
    <!-- <h2><a href="{% url 'post:detail' post.id post.slug %}">{{ post.body }}</a></h2> -->
    <p class="card-text text-justify">
    {{ post.body }}
    </p>
    
    </div>
    <small>{{ post.jpublish }}</small>
    
    
    
    </div>
    
    </div>
    <div class="card-footer">
        <div class="btn-group" dir="ltr" role="group" aria-label="First group"> 
            <a href="{% url 'post:delete' post.id %}" class="btn btn-sm btn-outline-danger card-link btn-sm">حذف</a>
            <a href="{{ post.get_absolute_url }}" class="btn btn-sm btn-outline-info card-link btn-sm">بیشتر</a>
        </div>
    </div>
                  
    
    
    
    
    </div>
    
    {% empty %}
    <div class="alert alert-warning">
        <span>You have not post yet</span>
    </div>  
    <br><br><br>
    {% endfor %}

</div>
{% endblock %}
