{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-----------------------------------Banner/img Starts-------------------->


<div class="banner">
    <div class="banner-title d-flex flex-column justify-content-center align-items-center">
        
        <img src="{{user.profile.avatar.url}}" alt="img" class="rounded-circle" width="80px" height="80px">
        <h3 class="text-light">{{ user.username }}</h3>
        <p class="text-light">I wish i was a little bit taller, wish i was a baller, wish i had a girl… also.</p>
        {{ user.profile.avatar }}
    </div>


    <div class="banner-end d-flex justify-content-center align-items-end">
        <ul class="nav text-light">
            <li class="nav-item nav-link active"><a href="{% url 'account:reset_password' %}">Password Reset</a></li>
            {% if request.user.id != user.id and not is_following %}
                <li class="nav-item nav-link active"><a href="{% url 'account:user_follow' user.id %}">Follow</a></li>
            {% elif request.user.id != user.id and is_following %}
                <li class="nav-item nav-link active"><a href="{% url 'account:user_unfollow' user.id %}">UnFollow</a></li>
            {% endif %}
        </ul>

    </div>


    

</div>



<div class="container my-4">
    <a href="{% url 'post:create' %}" class="btn btn-outline-success card-link btn-sm mb-2">Create</a>
    <a href="{% url 'account:edit_user' %}" class="btn btn-outline-info card-link btn-sm mb-2">Edit Profile</a>
    {% for post in posts %}
<div class="card mb-2" >

          
       
    <div class="card-body">
    
    <div class="media">
    <img src="{% static 'img/avatar-dhg.png' %}" alt="img" width="55px" height="55px" class="rounded-circle mr-3">
    
    <div class="media-body">
    <h2>{{ post.title }}</h2>
    <p class="card-text text-justify">
    {{ post.body }}
    </p>
    
    </div>
    <small>{{ post.created }}</small>
    
    
    
    </div>
    
    </div>
    <div class="card-footer">
      <a href="{% url 'post:delete' post.id %}" class="btn btn-outline-danger card-link btn-sm">Delete</a>
    </div>
                  
    
    
    
    
    </div>
    {% endfor %}

</div>
{% endblock %}
