{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="col-md-6 mx-auto columns bg-white p-3 mt-4">
            <div class="column is-two-fifths m-auto">
                <h1 class="title h3">Register</h1>
                <hr>
                <form method="POST" novalidate>
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-info mt-2">Register</button>
            </form>
            </div>
        </div>
    </div>
    <br><br><br><br><br><br>

{% endblock %}
