{% extends 'base.html' %}
{% load static %}

{% block content %}
<br><br>
<div class="container">
  <div class="card mb-2" >

          
       
    <div class="card-body">
    
    <div class="media">
    
    <div class="media-body">
    <h2>{{ post.user.username }}</h2>
    <p class="card-text text-justify">
        <h1>404</h1>
    </p>
    
    </div>
    <small></small>
    
    
    
    </div>
    
    </div>
    <div class="card-footer">

    </div>
                  
    
    
    
    
    </div>
</div>
{% endblock %}
